@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-bg-img {
  background-image: url('https://static.vecteezy.com/system/resources/previews/004/532/221/large_2x/tic-tac-toe-seamless-background-on-dark-blue-illustration-vector.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.button-style {
  padding: 0.75rem 2rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
  border-radius: 0.75rem;
  border: 2px solid #ff4ecd;
  background-color: #00fff7;
  color: #181c2f;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.button-style:hover {
  background-color: #ff4ecd;
  color: white;
  border-color: #00fff7;
}

.button-style:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ff4ecd;
}

* {
  font-family: "Montserrat", sans-serif;
}